<% const options = { year: 'numeric', month: '2-digit', day: '2-digit' } %> 
<h2>Search Celebrity</h2>
<label>Name</label>
<form method="get" action="/celebrities">
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% celebrities.forEach(celebrity => { %>
    <h4>
        <%= celebrity.name %>
    </h4>
    <div>
        <label>Date of Birth</label> <%= celebrity.dateOfBirth.toLocaleDateString(undefined,options) %>
    </div>
    <% if(celebrity.dateOfDeath != null && celebrity.dateOfDeath != '') { %>
        <div><label>Date of Death</label> <%= celebrity.dateOfDeath.toLocaleDateString(undefined,options) %></div>
        <% } %>
        <div><label>Age in Days</label> <%= celebrity.ageInDays %></div>
        <div><label>Age in Years and Days</label> <%= celebrity.ageInYearsAndDays %></div>
    <a href="/celebrities/<%= celebrity.id %> ">View</a>
    <a href="/celebrities/<%= celebrity.id %>/edit">Edit</a>
    <%- include('../partials/deleteform', { url: `/celebrities/${celebrity.id}` }) %> 
    <% }) %>