<% const options = { year: 'numeric', month: '2-digit', day: '2-digit' } %> 
<h2><%= celebrity.name %></h2>
<div><label>Date of Birth</label> <%= celebrity.dateOfBirth.toLocaleDateString(undefined,options) %></div>
<% if(celebrity.dateOfDeath != null && celebrity.dateOfDeath != '') { %>
<div><label>Date of Death</label> <%= celebrity.dateOfDeath.toLocaleDateString(undefined,options) %></div>
<% } %> 
<div><label>Age in Days</label> <%= celebrity.ageInDays %></div>
<div><label>Age in Years and Days</label> <%= celebrity.ageInYearsAndDays %></div>

<% if(celebrity.events.length > 0) { %>
<h2>Significant Events</h2>
<table>
    <thead>
        <tr>
            <th>Event Date</th>
            <th>Event</th>
            <th>Age at Time of Event</th>
            <th>Age at Time of Event in Days</th>
        </tr>
    </thead>
    <tbody>

    <% celebrity.events.forEach(significantevent => { %>
        <tr>
            
            <td><%= significantevent.eventDate.toLocaleDateString(undefined,options) %></td>
            <td><%= significantevent.event %></td>
            <td><%= significantevent.ageAtEvent %></td>
            <td><%= significantevent.ageAtEventInDays %></td>
            <% }) %> 
        </tr>
        <% } %>
    </tbody>
    </table>
<a href="/celebrities/<%= celebrity.id %>/edit">Edit</a>
<%- include('../partials/deleteform', { url: `/celebrities/${celebrity.id}` }) %> 