<% const options = { year: 'numeric', month: '2-digit', day: '2-digit' } %> 
<h2><%= celebrity.name %></h2>
<div><label>Date of Birth</label> <%= celebrity.dateOfBirth.toLocaleDateString(undefined,options) %></div>
<% if(celebrity.dateOfDeath != null && celebrity.dateOfDeath != '') { %>
<div><label>Date of Death</label> <%= celebrity.dateOfDeath.toLocaleDateString(undefined,options) %></div>
<% } %> 
<div><label>Age in Days</label> <%= ageInDays %></div>
<a href="/celebrities/<%= celebrity.id %>/edit">Edit</a>
<%- include('../partials/deleteform', { url: `/celebrities/${celebrity.id}` }) %> 