<h2>Find out which celebrity you are similar in age to</h2>
<form method="GET" action="/">
    <div><label>Enter your name:</label> <input type="text" name="yourname" value="<%= yourDetails.yourname %>" required></div>
    <div><label>Enter your Date of Birth:</label> <input type="date" name="yourdateofbirth" value="<%= yourDetails.yourdateofbirth %>" required></div>
    <button type="submit">Submit</button>
</form>
<% if(yourDetails.yourname && yourDetails.yourdateofbirth) { %> 
    <div>Hello <%= yourDetails.yourname %>, You were born on <%= yourDetails.yourdateofbirth %> which makes you <%= yourAge %> days old.</div>
<% } %> 
<h2>Older Celebrities</h2>
    <%- include('./partials/celebritylist.ejs', { celebrities: olderCelebrities }) %>     
<h2>Same Age Celebrities</h2>
    <%- include('./partials/celebritylist.ejs', { celebrities: sameAgeCelebrities }) %>     
<h2>Younger Celebrities</h2>
    <%- include('./partials/celebritylist.ejs', { celebrities: youngerCelebrities }) %>     
