<% const options = { year: 'numeric', month: '2-digit', day: '2-digit' } %> 
<h2>Find out which celebrity you are similar in age to</h2>
<form method="GET" action="/">
    <div><label>Enter your name:</label> <input type="text" name="yourname" value="<%= yourDetails.yourname %>"></div>
    <div><label>Enter your Date of Birth:</label> <input type="date" name="yourdateofbirth" value="<%= yourDetails.yourdateofbirth %>"></div>
    <button type="submit">Submit</button>
</form>
<div>Hello <%= yourDetails.yourname %>, You were born on <%= yourDetails.yourdateofbirth %> which makes you <%= yourAge %> days old.</div>
